<% if user_signed_in? %>


<div id="main-div", class=""  >
  <%= link_to new_note_path, class:'underline' do %>
  <div class="card mx-auto p-3 mb-3" style="width: 18rem;">
    <p class="card-text">Take a note... </p>
  </div>
  <hr>
  <% end %>


  <div class="d-flex flex-wrap justify-content-evenly child">
    
    <% @notes.each do |note| %>
      <% if current_user.id == note.user_id %>
        <div id="note-view", style="display: block; ",  class="note-view selected" >
          <!-- notes -->
          <%= link_to note_path(note), class:'underline' do %>

            <% if note.pinned && (note.deleted == 'show') %>
              <div>
                <div class="card " style="width: 18rem; color: black;">
                  <%= image_tag note.image_url, style: 'height:100%;width:18rem'  if note.image_url.present? %>
                  <div class="card-body ">
                    <h5 class="card-title"><%= note.title %></h5>
                    <p class="card-text"><%= note.description %></p>  
                  </div>
                </div>

              </div> 
            <% end %>


            <% if (!note.pinned) && (!note.archive) && (note.deleted == 'show')%>
                <div class="card" style="width: 18rem; color: black;">
                  <%= image_tag note.image_url,style: 'height:100%;width:18rem' if note.image_url.present? %>
                  <div class="card-body ">
                    <h5 class="card-title"><%= note.title %></h5>
                    <p class="card-text"><%= note.description %></p>
                    <p class="card-text"><%= note.date if note.date.present? %></p>
                    <p class="card-text"><%= note.time  if note.time.present? %></p>
                  </div>
                </div>
            <% end %>
          <% end %>
        </div>

        <div id="reminder-view" , style="display: none;">
          <!-- reminder -->
          <%= link_to note_path(note), class:'underline' do %>
            <% if (note.date.present? || note.time.present?) && (note.deleted == 'show') %>
             <div class="card" style="width: 18rem;  color: black;">
              <%= image_tag note.image_url, style: 'height:100%;width:18rem' if note.image_url.present? %>
                <div class="card-body">
                  <h5 class="card-title"><%= note.title %></h5>
                  <p class="card-text"><%= note.description %></p>
                  <p class="card-text"><%= note.date if note.date.present? %></p>
                  <p class="card-text"><%= note.time.strftime("%H:%M") if note.time.present? %></p>    
                </div>
              </div>     
            <% end %>
          <% end %>
        </div>

        <div id="pinned-view" class="pinned-view selected", style="display: none;">
          <!-- pinned -->
          <%= link_to note_path(note), class:'underline' do %>

            <% if note.pinned && (note.deleted == 'show') %>
              <div>
                <div class="card" style="width: 18rem; color: black;">
                  <%= image_tag note.image_url, style: 'height:100%;width:18rem'  if note.image_url.present? %>
                  <div class="card-body ">
                    <h5 class="card-title"><%= note.title %></h5>
                    <p class="card-text"><%= note.description %></p>  
                  </div>
                </div>
              </div> 
            <% end %>
          <% end %>
        </div>


        <div id="archive-view" class="archive-view selected", style="display: none;">
          <!-- archive -->
          <%= link_to note_path(note), class:'underline' do %>
            <% if note.archive && (note.deleted == 'show') %>
             <div class="card" style="width: 18rem;  color: black;">
              <%= image_tag note.image_url, style: 'height:100%;width:18rem' if note.image_url.present? %>
                  <div class="card-body">
                  <h5 class="card-title"><%= note.title %></h5>
                  <p class="card-text"><%= note.description %></p>
                </div>
              </div>     
            <% end %>
          <% end %>
        </div>

        <div id="bin-view" class="bin-view selected", style="display: none;">
          <!-- bin -->
          <%= link_to note_path(note), class:'underline' do %>
            <% if note.deleted == 'bin'  %>
              <div class="card" style="width: 18rem;  color: black;">
                <%= image_tag note.image_url, style: 'height:100%;width:18rem' if note.image_url.present? %>
                <div class="card-body">
                  <h5 class="card-title"><%= note.title %></h5>
                  <p class="card-text"><%= note.description %></p>
                </div>
              </div>     
            <% end %>
          <% end %>
        </div>

      <% end %>
    <% end %>
  </div>
</div>

<% end %>

